html {
  scroll-behavior: smooth;
}

.main-content {
	position: relative;
	z-index: 1;
}

.container {
	margin: 0 auto;
	max-width: 1192px;
	padding: 0 16px;
	width: 100%;
}

a.button,
input.button {
	background-color: #E02335;
	border: 1px solid #E02335;;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Inter Bold';
	font-size: 0.875em;
	font-weight: normal;
	letter-spacing: 2px;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all ease .3s;
}

a.button:hover,
input.button:hover {
	background-color: #6C7888;
	border: 1px solid #6C7888;;
	color: #fff !important;
}

.button.btn-white {
	background-color: #fff;
	border-radius: 5px;
	color: #22292E;
	padding: 8px 12px;
	text-transform: none;
}

.button.btn-white:hover {
	background-color: #E02335;
	color: #fff;
}

a.btn-link {
	display: inline-block;
	font-family: 'Inter Bold';
	font-size: 0.875em;
	font-weight: normal;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}

a.btn-link i {
	color: #E02335;
}

a.btn-link:hover {
	text-decoration: underline;
}

.header {
	background-color: #fff;
	padding: 30px 0 20px;
	position: relative;
	transition: all ease .3s;
	z-index: 2;
}

.header.sticky {
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	left: 0	;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.admin-bar .header.sticky {
	top: 46px;
}

@media (min-width:783px) {
	.admin-bar .header.sticky {
		top: 32px;
	}
}

.header-inner {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-nav {
	display: none;
}

.main-menu {
	align-items: center;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-menu a {
	color: #2F3643;
	font-family: 'Inter Bold';
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.main-menu a:hover,
.main-menu > li.current-menu-item > a,
.main-menu > li.current-menu-parent > a {
	color: #E02335;
}

.slicknav_nav li.menu-btn a,
.main-menu li.menu-btn a {
	background-color: #E02335;
	border: 1px solid #E02335;
	border-radius: 100px;
	color: #fff !important;
	padding: 10px 30px;
}

.slicknav_nav li.menu-btn a:hover,
.main-menu li.menu-btn a:hover {
	background-color: #22292E;
	border: 1px solid #22292E;
}

.slicknav_nav li.menu-btn a {
	display: inline-block;
	margin: 10px 10px 20px;
}

.main-menu li {
	position: relative;
}

.main-menu li > ul {
	background-color: #fff;
	box-shadow: 0 3px 6px rgb(0, 0, 0, 0.2);
	display: none;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 20px 0;
	position: absolute;
	top: 100%;
	width: 240px;
}

.main-menu li > ul li {
	padding: 0;
}

.main-menu li > ul li a {
	display: block;
	padding: 10px 20px;
	text-transform: none;
}

.main-menu li:hover > ul {
	display: block;
}

.slicknav_menu {
	background: none;
	padding: 0;
}

.slicknav_btn {
	margin: 0;
	overflow: hidden;
	padding: 12px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
}

.slicknav_menu .slicknav_icon {
	width: 20px;
}

.slicknav_menu .slicknav_icon-bar {
	width: 100%;
	position: relative;
	transition: all ease .3s;
}

.slicknav_open .slicknav_icon-bar:nth-child(1) {
	top: 5px;
	transform: rotate(45deg);
}

.slicknav_open .slicknav_icon-bar:nth-child(2) {
	transform: translateX(200%);
}

.slicknav_open .slicknav_icon-bar:nth-child(3) {
	top: -5px;
	transform: rotate(-45deg);
}

.slicknav_nav {
	background-color: #22292E;
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;
}

.slicknav_nav li a {
	font-size: 16px;
	margin: 0;
	padding: 10px;
}

.slicknav_nav > li.current-menu-item > a,
.slicknav_nav > li.current-menu-parent > a > a {
	color: #E02335;
}

.slicknav_nav .slicknav_row {
	margin: 0;
	position: relative;
}

.slicknav_nav .slicknav_row:hover {
	background: none;
	border-radius: 0;
}

.slicknav_nav .slicknav_arrow {
	font-size: 20px;
	margin: 0;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	transition: all ease .3s;
}

.slicknav_nav .slicknav_arrow::before {
	content: "\f0d7";
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
}

.slicknav_nav .slicknav_open .slicknav_arrow {
	transform: scaleY(-1);
	transform-origin: 0 8px;
}

.footer {
	background-color: #22292E;
	color: #fff;
}

.footer-navigation {
	border-bottom: 1px solid #707070;
	padding: 70px 0;
	text-align: center;
}

.footer-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-logo,
.footer-details,
.footer-nav,
.footer-social {
	width: 100%;
}

.footer-details a {
	color: #fff;
	text-decoration: none;
}

.footer-details p.abn-num a  {
	pointer-events: none;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-social {
	font-size: 18px;
	text-align: center;
}

.footer-social a {
	color: #fff;
}

.footer-social a:hover {
	color: #E02335;
}

.footer-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-menu li {
	margin-bottom: .75em;
}

.footer-menu li a {
	color: #fff;
	font-family: 'Inter Bold';
	font-weight: normal;
	text-decoration: none;
}

.footer-menu li a:hover {
	color: #E02335;
}

.footer-copyright {
	color: #83878A;
	padding: 40px 0 45px;
}

.footer-copyright .footer-col {
	display: none;
}

.copyright {
	margin-bottom: 10px;
}

.copyright,
.policy-links {
	text-align: center;
	width: 100%;
}

.policy-links ul {
	align-items: center;
	display: flex;
	list-style: none;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.policy-links ul li {
	margin: 0 20px;
}

.policy-links ul li a {
	color: #83878A;
}

@media (min-width:768px) {
	.footer-navigation {
		text-align: left;
	}

	.footer-logo {
		margin: 0;
		width: 24%;
	}

	.footer-details {
		width: 44%;
	}

	.footer-nav,
	.footer-social {
		width: 14%;
	}

	.footer-social {
		text-align: right;
	}
}

@media (min-width:1024px) {
	.main-nav {
		display: block;
	}

	.menu-burger {
		display: none;
	}

	.main-menu li {
		padding: 0 15px;
	}

	.main-menu li.menu-btn {
		padding-left: 40px;
		padding-right: 0;
	}

	.copyright {
		margin: 0;
		text-align: left;
	}
	
	.policy-links ul {
		justify-content: flex-end;
	}

	.policy-links ul li {
		margin: 0 52px 0 0;
	}

	.policy-links ul li:last-child {
		margin: 0;
	}

	.copyright {
		width: 60%;
	}

	.policy-links {
		width: 30%;
	}
}

@media (min-width:1440px) {
	.main-menu li {
		padding: 0 20px;
	}

	.main-menu li.menu-btn {
		padding-left: 60px;
	}

	.footer-copyright .footer-col {
		display: block;
		width: 24%;
	}

	.copyright {
		width: 44%;
	}

	.policy-links {
		width: 28%;
	}
}

/* Resources */
.resources-listing {
	background-color: #22292E;
	color: #fff;
	padding-top: 60px;
}

.resources-featured {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.featured-desc {
	font-size: 20px;
	margin-bottom: 30px;
	width: 100%;
}

.featured-desc a.btn-link {
	color: #fff;;
}

.featured-img {
	width: 100%;
}

.featured-img {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

@media (min-width:1024px) {
	.featured-img img {
		height: 100%;
		left: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.resources-list {
	padding-bottom: 90px;
	padding-top: 110px;
}

.filter-desktop {
	display: none;
}

.filter-tabs {
	display: flex;
	flex-wrap: wrap;
	gap: 14px;
	list-style: none;
	margin: 0;
	padding: 0 0 70px 0;
	text-align: center;
}

.filter-tabs li {
	border-bottom: 2px solid #707070;
	flex: 1;
}

.filter-tabs li.active {
	border-bottom: 2px solid #E02335;
}

.filter-tabs li a {
	color: #9AA6B1;
	display: block;
	padding: 10px 0;
	text-decoration: none;
}

.filter-tabs li.active a {
	color: #fff;
	font-family: 'Inter Bold';
}

.filter-mobile {
	padding-bottom: 30px;
}

.filter-mobile > div {
	color: #fff;
}

.filter-mobile select {
	height: 45px;
	padding: 0 10px;
	width: 100%;
}

.filter-mobile select:focus {
	outline: 0;
}

.resource-list {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 16px;
}

.resource-item {
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}

.resource-item a {
	text-decoration: none;
}

.resource-img {
	height: 224px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.resource-img img {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.resource-content {
	padding: 30px 10px 40px;
}

.resource-content h6 {
	margin-bottom: 10px;
}

.resource-content p {
	color: #22292E;
}

.resource-content .btn-link {
	color: #E02335;
}

.pagination {
	text-align: center;
}

.pagination ul {
	display: flex;
	justify-content: center;
	font-size: 14px;
	gap: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.pagination ul li span,
.pagination ul li a {
	border: 1px solid #9AA6B1;
	border-radius: 100%;
	color: #fff;
	display: block;
	height: 22px;
	text-decoration: none;
	width: 22px;
}

.pagination ul li span.current {
	border: 1px solid #E02335;
}

.pagination ul li a.next,
.pagination ul li a.prev {
	border: 0;
}

.pagination ul li i {
	color: #fff;
	font-size: 10px;
}

.single-resources-filter {
	background-color: #22292E;
	padding: 100px 0 0;
}

.single-resources-wrap {
	margin: 0 auto;
	max-width: 997px;
	padding: 0 16px;
	width: 100%;
}

.single-resources-image {
	padding: 0 16px;
	position: relative;
}

.single-resources-image::before {
	background-color: #22292E;
	content: '';
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.single-image-box {
	border-radius: 5px;
	box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16);
	height: 300px;
	margin: 0 auto 30px;
	max-width: 997px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 2;
}

.single-image-box img {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.single-resource-date {
	color: #9AA6B1;
	font-size: 14px;
	margin-bottom: 40px;
}

.single-resources-title {
	font-size: 34px;
}

.single-resources-content {
	margin-bottom: 60px;
}

.single-resources-content strong a {
	color: #E02335;
	font-family: 'Inter Bold';
}

.single-resources-categories {
	padding-bottom: 100px;
}

.single-resources-categories a {
	color: #9AA6B1;
	font-size: 14px;
}

.additional-resources {
	background-color: #22292E;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	padding: 50px 0 80px;
}

.slider-resources {
	position: relative;
}

.slider-resources .slick-track {
	display: flex;
}

.slider-resources .resource-item {
	display: flex;
	flex-direction: column;
	height: inherit;
	margin: 0 8px;
}

.slider-resources .resource-content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.slider-resources .resource-content .btn-link {
	margin-top: auto;
}

.slick-arrow {
	align-items: center;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
	color: #E02335;
	cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all ease .3s;
	width: 50px;
	z-index: 3;
}

.slick-arrow.prevArrow {
left: 0;
}

.slick-arrow.nextArrow {
	right: 0;
}

.slick-arrow.slick-disabled {
	cursor: not-allowed;
	opacity: .3;
}

.error404 {
	background-color: #22292E;
}

.error404 .site {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.error404.admin-bar .site {
	height: calc(100vh - 46px);
}

@media (min-width:783px) {
	.error404.admin-bar .site {
		height: calc(100vh - 32px);
	}
}

.error-404 {
	color: #fff;
	padding: 60px 0;
	text-align: center;
}

.error404 .footer {
	border-top: 2px solid #fff;
}

@media (min-width:768px) {
	.resource-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width:1024px) {
	.filter-mobile {
		display: none;
	}

	.filter-desktop {
		display: block;
	}

	.featured-desc {
		margin-bottom: 0;
		width: 40%;
	}

	.featured-img {
		width: 50%;
	}

	.resource-content {
		padding: 30px 30px 40px;
	}

	.single-image-box {
		height: 500px;
	}
}

@media (min-width:1440px) {
	.resources-listing {
		padding-top: 180px;
	}

	.slick-arrow.prevArrow {
		left: -100px;
	}

	.slick-arrow.nextArrow {
		right: -100px;
	}
}